################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MsGraph365/MsGraph365.Web/bin
/MsGraph365/MsGraph365.Web/obj/Debug
